numpy
pandas
scrapy
fastapi
uvicorn
Jinja2
appwrite
python-dotenv
pymongo
aiohttp
motor
httpx
torch
scikit-learn
beautifulsoup4
sentence-transformers
nltk
algoliasearch
apscheduler

-e .